.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    
}

.logo {
    width: 200px;
}

.nav-items ul {
    display: flex;
    padding: 0 20px;
    
}
.nav-items ul li {
    list-style-type: none;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
}

.search {
    padding : 10px;
}

.res-card {
    width: 200px;
    background-color: #f0f0f0;
    margin: 5px;
    padding: 5px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-logo {
    width: 100%;
    height: 150px;

}

.res-container {
    display: flex;
    flex-wrap: wrap;
}